@model SiteSec.Models.Documento

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.PessoaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().DropDownListFor(model => model.PessoaId)
                      .DataTextField("Nome")
                      .DataValueField("Id")
                      .OptionLabel("Selecione")
                      .HtmlAttributes(new { style = "width:100%;" })
                   .DataSource(source =>
                   {
                       source.Custom()
                           .ServerFiltering(true)
                           .Type("aspnetmvc-ajax")
                           .Transport(transport => { transport.Read("Read", "Pessoa", new { id = ViewBag.PessoaId }); })
                           .Schema(schema => { schema.Data("Data").Total("Total"); });
                   })
                )
                @Html.ValidationMessageFor(model => model.PessoaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDeDocumentoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().DropDownListFor(model => model.TipoDeDocumentoId)
                              .DataTextField("Descricao")
                              .DataValueField("Id")
                              .OptionLabel("Selecione")
                              .Filter("contains")
                              .HtmlAttributes(new { style = "width:100%;" })
                              .DataSource(source =>
                              {
                                  source.Custom()
                                      .ServerFiltering(true)
                                      .Type("aspnetmvc-ajax")
                                      .Transport(transport => { transport.Read("Read", "TipoDocumento"); })
                                      .Schema(schema => { schema.Data("Data").Total("Total"); });
                              })
                )
                @Html.ValidationMessageFor(model => model.TipoDeDocumentoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Kendo().TextBoxFor(model => model.Numero).HtmlAttributes(new { style = "width:100%;" })
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Serie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Kendo().TextBoxFor(model => model.Serie).HtmlAttributes(new { style = "width:100%;" })
                @Html.ValidationMessageFor(model => model.Serie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emissao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Kendo().DatePickerFor(model => model.Emissao).HtmlAttributes(new { style = "width:100%;" })
                @Html.ValidationMessageFor(model => model.Emissao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Validade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Kendo().DatePickerFor(model => model.Validade).HtmlAttributes(new { style = "width:100%;" })
                @Html.ValidationMessageFor(model => model.Validade, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}


