
@model SiteSec.Models.Account

@{
    Layout = null;
}
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Armata" />
<link type="text/css" rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" />
<link type="text/css" rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.rtl.min.css" />
<link type="text/css" rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.moonlight.min.css" />
<link type="text/css" rel="stylesheet" href="~/Content/login.css" />
<script type="text/javascript" src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
<script type="text/javascript" src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>

@using (Html.BeginForm("Index", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "onSelect(event)" }))
{

    @Html.AntiForgeryToken()

    <div class="center k-widget k-window">
        <p>
            <div class="form-horizontal">

                <div class="form-group">

                    <div class="loading"></div>

                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Kendo().TextBoxFor(model => model.UserName).HtmlAttributes(new { @style = "width:100%;", @placeholder = "seuemail@email.com.br" })
                        @Html.ValidationMessageFor(model => model.UserName, String.Empty, new { @style = "color:red; font-size:smaller;" })
                    </div>

                    <br>

                    @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Kendo().TextBoxFor(model => model.Senha).HtmlAttributes(new { @style = "width:100%;", @type="password" })
                        @Html.ValidationMessageFor(model => model.Senha, String.Empty, new { @style = "color:red; font-size:smaller;" })
                    </div>

                    <br>

                    <div style="text-align:center">
                        <button type="submit" class="k-button k-primary">Autenticar</button>
                    </div>

                </div>

            </div>
        </p>
    </div>
    <script>
        function onSelect(e) {
            kendo.ui.progress($(".loading"), true);
        }
    </script>

}