<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Sec</title>


    <link href="https://fonts.googleapis.com/css?family=Armata" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.uniform.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />

    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/cultures/kendo.culture.pt-BR.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.grid.notifications.js")"></script>


</head>
<body>

    @(Html.Kendo().Menu()
              .Name("menu")
              .Scrollable(false)
              .Items(items =>
              {
                  items.Add()
                     .Text("Agenda")
                     .Items(children =>
                     {
                         children.Add().Text("Agenda").Action("Index", "hHome");
                     });
                  items.Add()
                    .Text("Cadastros")
                    .Items(children =>
                    {
                        children.Add().Text("Grupo Pessoas")
                            .Items(innerChildren =>
                            {
                                innerChildren.Add().Text("Pessoas").Action("Index", "pessoa");
                                innerChildren.Add().Text("Endereços").Action("Index", "endereco");
                                innerChildren.Add().Text("Contatos").Action("Index", "contato");
                                innerChildren.Add().Text("Tipos de Contatos").Action("Index", "tipocontato");
                                innerChildren.Add().Text("Usuários").Action("Index", "usuario");
                                innerChildren.Add().Text("Permissões").Action("Index", "regra");
                                innerChildren.Add().Text("Documentos").Action("Index", "documento");
                                innerChildren.Add().Text("Tipos de Documentos").Action("Index", "tipodocumento");

                            });
                        children.Add().Text("Grupo Empresas")
                            .Items(innerChildren =>
                            {
                                innerChildren.Add().Text("Empresas").Action("Index", "empresa");
                                innerChildren.Add().Text("Setores").Action("Index", "setor");
                                innerChildren.Add().Text("Tipo de Setores").Action("Index", "tiposetor");
                                innerChildren.Add().Text("Equipamentos").Action("Index", "equipamento");
                                innerChildren.Add().Text("Tipos de Equipamentos").Action("Index", "tipoequipamento");

                            });
                        children.Add().Text("Grupo Ordem de Serviços")
                            .Items(innerChildren =>
                            {
                                innerChildren.Add().Text("Ordem de Serviço").Action("Index", "ordemservico");
                                innerChildren.Add().Text("Serviços").Action("Index", "servico");
                            });
                    });
                  items.Add().Text("Movimentação")
                    .Items(children =>
                    {
                        children.Add().Text("Ordem de Serviços")
                                .Items(innerChildren =>
                                {
                                    innerChildren.Add().Text("Entrada");
                                    innerChildren.Add().Text("Saída");
                                    innerChildren.Add().Text("Cancelado");

                                });


                    });
                  items.Add()
                     .Text("Relatórios")
                     .Items(children =>
                     {
                         children.Add().Text("Ordem de Serviços")
                                  .Items(innerChildren =>
                                  {
                                      innerChildren.Add().Text("Chamados abertos");
                                      innerChildren.Add().Text("Chamados fechados");
                                      innerChildren.Add().Text("Total de chamados por mês");
                                      innerChildren.Add().Text("Total de chamados por empresa");

                                  });
                     });
                  items.Add()
                     .Text("Login")
                     .Items(children =>
                     {
                         children.Add().Text("Configurações").Action("Index", "empresa");
                         children.Add().Text("Sair");
                     });

              })
        )

    <main>
        <div class="container-fluid">
            @RenderBody()
            <div class="loading"></div>
            @(Html.Kendo().Notification().Name("popupNotification"))
        </div>
    </main>

    <script>
        $(document).ready(function () {

            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });

            kendo.culture("pt-BR");

            $("#menu").kendoMenu({ select: onSelect });

        });

        function onclick(e) {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }

        function onSelect(e) {
            kendo.ui.progress($(".loading"), true);
        }
    </script>

</body>
</html>
