<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
    <style>
        body {
            font-family: 'Armata';font-size: 14px;
            margin:0;
            padding:0;
            height: 100vh;
        }

        #grid {
            height: 95vh;
        }

     </style>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.rtl.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.materialblack.min.css">

</head>
<body>

    @(Html.Kendo().Menu()
          .Name("Menu")
          .Scrollable(true)
          .Items(items =>
          {
              items.Add()
                .Text("Home").Action("Index", "Home");

              items.Add()
                .Text("Cadastros")
                .Items(children =>
                {
                    children.Add().Text("Pessoas").Action("Index", "pessoa")
                    .Items(innerChildren =>
                    {

                        innerChildren.Add().Text("Usuários").Action("Index", "usuario");
                        innerChildren.Add().Text("Documentos").Action("Index", "documento");

                    });
                    children.Add().Text("Empresas").Action("Index", "empresa");
                    children.Add().Separator(true);
                    children.Add().Text("Ordem de Serviços").Action("Index", "ordemservico")
                            .Items(innerChildren =>
                            {
                                innerChildren.Add().Text("Itens").Action("Index", "itemordemservico");
                                innerChildren.Add().Text("Entrega").Action("Index", "entrega");
                                innerChildren.Add().Text("Retirada").Action("Index", "retirada");
                            });
                    children.Add().Separator(true);
                    children.Add().Text("Equipamentos").Action("Index", "equipamento")
                            .Items(innerChildren =>
                            {
                                innerChildren.Add().Text("QrCode").Action("Index", "qrcode");
                            });
                    children.Add().Separator(true);
                    children.Add().Text("Serviços").Action("Index", "servico");
                         
                    children.Add().Separator(true);
                    children.Add().Text("Setores").Action("Index", "setor");
   
                });

              items.Add().Text("Movimentação")
                .Items(children =>
                {
                    children.Add().Text("Ordem de Serviços")
                            .Items(innerChildren =>
                            {
                                innerChildren.Add().Text("Entrada");
                                innerChildren.Add().Text("Saída");
                                innerChildren.Add().Text("Cancelado");

                            });


                });

              items.Add()
                 .Text("Relatórios")
                 .Items(children =>
                 {
                     children.Add().Text("Ordem de Serviços")
                              .Items(innerChildren =>
                              {
                                  innerChildren.Add().Text("Chamados abertos");
                                  innerChildren.Add().Text("Chamados fechados");
                                  innerChildren.Add().Text("Quantidade por mês");
                                  innerChildren.Add().Text("Total de chamados por empresa");

                              });
                     children.Add().Separator(true);
                     children.Add().Text("Empresas")
                              .Items(innerChildren =>
                              {
                                  innerChildren.Add().Text("Total de Empreas ativas");
                              });
                     children.Add().Separator(true);
                     children.Add().Text("Equipamentos")
                              .Items(innerChildren =>
                              {
                                  innerChildren.Add().Text("Equipamento");
                              });
                     children.Add().Separator(true);
                     children.Add().Text("Tipos")
                              .Items(innerChildren =>
                              {
                                  innerChildren.Add().Text("Equipamento");
                                  innerChildren.Add().Text("Documento");
                                  innerChildren.Add().Text("Atividade");
                                  innerChildren.Add().Text("Setor");
                              });

                 });

              items.Add()
                 .Text("Login")
                 .Items(children =>
                 {
                     children.Add().Text("Configurações");
                     children.Add().Text("Sair");
                 });

          }).Deferred(true)
    )

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo.grid.notifications.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Html.Kendo().DeferredScripts(true)

</body>
</html>
