@model SiteSec.Models.ItemOrdemServico

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.OrdemDeServicoId)
        @Html.HiddenFor(model => model.ListaResultados)
        <div id="treeview"></div>
    </div>
}

<script>

    $(document).ready(function () {

        function checkedNodeIds(nodes, checkedNodes) {
            for (var i = 0; i < nodes.length; i++) {

                if (nodes[i].checked)
                    checkedNodes.push(nodes[i].id);

                if (nodes[i].hasChildren)
                    checkedNodeIds(nodes[i].children.view(), checkedNodes);
            }
        }

        function onCheck() {
            var checkedNodes = [],
                treeView = $("#treeview").data("kendoTreeView"),
                message;

            checkedNodeIds(treeView.dataSource.view(), checkedNodes);

            if (checkedNodes.length > 0) {
                message = checkedNodes.join(",");
            }

            $("#OrdemDeServicoId").val(@ViewBag.OrdemServicoId).trigger("change");
            $("#ListaResultados").val(message).trigger("change");
        }

        $.ajax({
            cache: false,
            type: 'GET',
            url: '@Url.Action("EquipamentosDosSetoresDaEmpresa", "ItemOrdemServico")',
            data: { ordemId : @ViewBag.OrdemServicoId },
            contentType: "json",
            success: function (data)
            {
                var itens = data.ItensOrdemServico;

                var setores = new Array();
                for (var i in itens) {
                    var equipamentos = new Array();
                    for (var x in itens[i].ItensEquipamentos) {
                        var servicos = new Array();
                        for (var z in itens[i].ItensEquipamentos[x].Servicos) {

                            var idSetor = itens[i].SetorId;
                            var idEquipamento = itens[i].ItensEquipamentos[x].EquipamentoId;
                            var idServico = itens[i].ItensEquipamentos[x].Servicos[z].Id;

                            servicos.push({ 'id': 'setorId=' + idSetor + ';equipamentoId=' + idEquipamento + ';servicoId=' + idServico, 'text': itens[i].ItensEquipamentos[x].Servicos[z].Descricao });
                        }
                        equipamentos.push({ 'id': itens[i].ItensEquipamentos[x].EquipamentoId, 'text': itens[i].ItensEquipamentos[x].TipoEquipamentoDescricao, 'items': servicos });
                    }
                    setores.push({ 'id': itens[i].SetorId, 'text': itens[i].TipoSetorDescricao, 'items': equipamentos });
                }
                var ds = new kendo.data.HierarchicalDataSource({ data : setores });
                $("#treeview").kendoTreeView({
                    dataSource: ds,
                    check: onCheck,
                    checkboxes: { checkChildren: true },
                });
            }
        });
    });

</script>
