@model SiteSec.Models.Agenda

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @*<div class="form-group">
            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Kendo().TextBoxFor(model => model.Numero).HtmlAttributes(new { style = "width:100%;" })
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.OwerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().DropDownListFor(model => model.OwerId)
                                .DataTextField("Nome")
                                .DataValueField("Id")
                                .OptionLabel("Selecione")
                                .Filter("contains")
                                .HtmlAttributes(new { style = "width:100%;" })
                                .Events(events => events.DataBound("onDataBound"))
                                .DataSource(source =>
                                {
                                    source.Custom()
                                        .ServerFiltering(true)
                                        .Type("aspnetmvc-ajax")
                                        .Transport(transport => { transport.Read("Read", "Pessoa"); })
                                        .Schema(schema => { schema.Data("Data").Total("Total"); });
                                })
                )
                @Html.ValidationMessageFor(model => model.OwerId, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.EmpresaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().DropDownListFor(model=>model.EmpresaId)
                              .DataTextField("RazaoSocial")
                              .DataValueField("Id")
                              .OptionLabel("Selecione")
                              .Filter("contains")
                              .Events(e => { e.Select("onSelect"); })
                              .HtmlAttributes(new { style = "width:100%;" })
                              .DataSource(source =>
                              {
                                  source.Custom()
                                    .ServerFiltering(true)
                                    .Type("aspnetmvc-ajax")
                                    .Transport(transport => { transport.Read("Read", "Empresa"); })
                                    .Schema(schema => { schema.Data("Data").Total("Total"); });
                              })
                )
                @Html.ValidationMessageFor(model => model.EmpresaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-horizontal">
            @Html.HiddenFor(model => model.OrdemDeServicoId)
            @Html.HiddenFor(model => model.ListaResultados)
            <div id="treeview"></div>
        </div>*@

    </div>


}