@model SiteSec.Models.EmpresaFilial

@using (Html.BeginForm("CreateMatrizFilial", "Empresa", FormMethod.Post))
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.EmpresaId, htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-10">
                    @(Html.Kendo().DropDownListFor(model => model.EmpresaId)
                      .DataTextField("RazaoSocial")
                      .DataValueField("Id")
                      .OptionLabel("Selecione")
                      .HtmlAttributes(new { style = "width:100%;" })
                   .DataSource(source =>
                   {
                       source.Custom()
                           .ServerFiltering(true)
                           .Type("aspnetmvc-ajax")
                           .Transport(transport => { transport.Read("Read", "Empresa", new { id = ViewBag.EmpresaMatrizId }); })
                           .Schema(schema => { schema.Data("Data").Total("Total"); });
                   })
                )
                    @Html.ValidationMessageFor(model => model.EmpresaId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Filiais, htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-10">
                    @(Html.Kendo().MultiSelectFor(model => model.Filiais)
                      .DataTextField("RazaoSocial")
                      .DataValueField("Id")
                      .Placeholder("Selecione")
                      .HtmlAttributes(new { style = "width:99%;" })
                   .DataSource(source =>
                   {
                       source.Custom()
                           .ServerFiltering(true)
                           .Type("aspnetmvc-ajax")
                           .Transport(transport => { transport.Read("ReadFilial", "Empresa", new { id = ViewBag.EmpresaMatrizId }); })
                           .Schema(schema => { schema.Data("Data").Total("Total"); });
                   })
                )
                    @Html.ValidationMessageFor(model => model.Filiais, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" id="button-save" class="k-button" value="Atualizar" />
                </div>
            </div>

        </div>
}
